<!DOCTYPE html>
<html lang="pt-br">
    <%- include("parts/head.ejs") %> 
    <body>
        <link rel="stylesheet" href="/css/index.css">
        <%- include("parts/header.ejs")%>

        <main></main>

        <script src="/js/index.js"></script>
    </body>
</html>